
.c{
    height: 60vh;
    position: relative;
}
.c-bg{
    width: 20px;
    height: 60vh;
    background-color: green;
    position: absolute;
}
.c-wrapper{
    padding: 30px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-title{
    font-size: 60px;
    width: 80%;
    padding-left: 10px;
    font-family: 'cursive', 'Times New Roman', Times, serif;
}
.c-info{
    flex-wrap: wrap;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 25px 0px;
    font-weight: 500;
    width: 70%;
    padding-left: 40px;
}
.link{
    text-decoration:none;
    padding-left: 20px;
    color: black;  
}
.icon-size{
    font-size: small;
}

@media screen and (max-width: 1440px) {
    .c-info-item{
        font-size: 20px;
    }
    .icon-size{
        transform: scale(1.2);
    }
} 

@media screen and (max-width:768px){
    .c-title{
        font-size: 40px;
    }
    .c-info-item{
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .c-title{
        font-size: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .c-info-item{
        font-size: 15px;
    }
    .icon-size{
        font-size: smaller;
    }
}



